


.browser-panel
{
    height:500px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding: 0;
    background-color: #f5f5f4;

}
.browser-panel hr 
{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ddd;
}

.browser-panel ul         { padding: 0 ;}
.browser-panel li         { clear:both; }
.browser-panel li a       { display: block; height:1.4em;  padding-left: 30px; padding-right: 12px; height: 2em; line-height: 2em;  border-top: 1px solid #f5f5f4; color: #333;}
.browser-panel li a:hover { background-color: #dcdfe1; border-top: 1px solid #fff; text-decoration: none; color:#337ab7;}
.browser-panel li span    { float: right; }



.panel-footer
{
    text-align: right!important;
    color: #999!important;
    font-style: italic!important;
    font-size: 10px!important;
}


pre
{
    background: #000;
    border: 1px solid #999;
    padding: 5px 10px;
    color: #ccc;
    font-family: "Prestige", monospace;
    font-size: 1em;
    min-height: 300px;
}



.detail
{
    color: #999!important;
    font-style: italic!important;
}


table, th, tr, td
{
    border: none!important;
}
th 
{
    border-right: 1px solid #ddd!important;;
    border-bottom: 1px solid #ddd!important;;
}
thead
{
    background-color: #f5f5f4;
}

table tbody tr:hover
{
    background: #ddd!important;
}

.header .headerSortUp {

}

.header .headerSortDown {

}

.badge
{
    background-color: inherit;
    color: inherit;
}

.btn.section
{
    color: #666;
}
.btn.section:hover
{
    color:#337ab7;
}





li.empty_selection
{
    color: #aaa;
    font-style: italic;
    padding-left: 30px;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Demo - Browser - File table
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */




.onHoverBtn a .fa{
  visibility: hidden; 
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}
.onHoverBtn:hover a .fa { 
  visibility:visible;
  opacity: 1;
}

.dataTables_info, .dataTables_length {
    display: none;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Demo - Browser - Run Panel
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#browser_run_monitoring_header, #browser_file_header, #browser_pipeline_header
{
    padding-top:20px; 
    padding-bottom:10px;  
    position:relative; 
    height:110px;
    background-color: #eee;
}
#browser_run_monitoring_header.green,  #browser_file_header.green,  #browser_pipeline_header.green  { background-color:#dcefdc; }
#browser_run_monitoring_header.orange, #browser_file_header.orange, #browser_pipeline_header.orange { background-color:#fbe9d0; }
#browser_run_monitoring_header.red,    #browser_file_header.red,    #browser_pipeline_header.red    { background-color:#f6d6d5; }
#browser_run_monitoring_header.blue,   #browser_file_header.blue,   #browser_pipeline_header.blue   { background-color:#d7e6f4; }


#browser_run_monitoring_progress, #browser_file_progress, #browser_pipeline_progress
{
    background-image: linear-gradient(45deg,
        rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%,
        rgba(255,255,255,.15) 50%,
        rgba(255,255,255,.15) 75%, transparent 75%,transparent);
    -webkit-background-size: 40px 40px; 
    background-size: 40px 40px; 
    position:absolute; 
    background-color:#ccc; 
    top:0; 
    bottom:0; 
    left:0; 
}

#browser_run_monitoring_header.green  div:first-of-type, #browser_file_header.green  div:first-of-type, #browser_pipeline_progress.green  div:first-of-type { background-color:#5cb85c; }
#browser_run_monitoring_header.orange div:first-of-type, #browser_file_header.orange div:first-of-type, #browser_pipeline_progress.orange div:first-of-type { background-color:#f0ad4e; }
#browser_run_monitoring_header.red    div:first-of-type, #browser_file_header.red    div:first-of-type, #browser_pipeline_progress.red    div:first-of-type { background-color:#d9534f; }
#browser_run_monitoring_header.blue   div:first-of-type, #browser_file_header.blue   div:first-of-type, #browser_pipeline_progress.blue   div:first-of-type { background-color:#337ab7; }
#browser_run_monitoring_header.green  p, #browser_file_header.green  p, #browser_pipeline_progress.green  p { color:#173517; }
#browser_run_monitoring_header.orange p, #browser_file_header.orange p, #browser_pipeline_progress.orange p { color:#462c06; }
#browser_run_monitoring_header.red    p, #browser_file_header.red    p, #browser_pipeline_progress.red    p { color:#3f0f0e; }
#browser_run_monitoring_header.blue   p, #browser_file_header.blue   p, #browser_pipeline_progress.blue   p { color:#11283c; }





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Demo - Wizard - Run configuration
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */



.runConfigTabDescription
{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    color: #999;
    display: block;
    margin-bottom: 20px;
    border-bottom: #ddd solid 1px;
    padding-bottom: 10px;
}

.runConfigHeader 
{
    margin: auto;
    display: block;
    width: 350px;

}
.runConfigHeader p
{
    display: inline-block;
    text-align: center;
    color: #aaa;
}
.runConfigHeader p span
{
    font-size: 20px;
    font-weight: bold;
}
.runConfigHeader p.sp { font-family: monospace; }
.runConfigHeader p.current { color: #337ab7; }
.runConfigHeader p.ok      { color: #419641; }






.form-navpanel
{
    padding-left: 30px;
}
.form-navpanel .input-group-addon
{
    padding: 3px 12px;
    font-size: 11px;
}

.form-navpanel  .form-control
{
    height: 20px;
}